#grid1
{
    display: grid;
    grid-template-columns: 28vw 40vw 28vw;
    grid-template-rows: 20vh 95vh 10vh;
    grid-template-areas: 'head head head'
                         '. main .'
                         'foot foot foot';
    background-color: darkgray;
    gap: 10px;
    color: white;
    text-align: center;
}

#Head
{
    grid-area: head;
    background-color: whitesmoke;
    font-weight: bold;
    text-shadow:2px 2px 2px black;
}

#grid2
{
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80vh 5vh 10vh;
    gap: 5px;
    grid-template-areas: 'slide'
                         'move'
                         'play';
}

#mid
{
    grid-area: move;
    display: flex;
    justify-content: space-between;
}

#pContainer
{
    grid-area: slide;
}

#play
{
    grid-area: play;
    display: flex;
    justify-content: space-between;
}

#mainPhoto
{
    height: 80vh;
    width: 500px;
}

footer
{
    grid-area: foot;   
}

#select
{
    text-align: left;
}

#previousI
{
    transform:rotate(180deg);
}

.icons
{
    height: 30px;
    width: 30px;
}

@media screen and (max-width:800px)
{
    #grid1
    {
        grid-template-columns: auto;
        grid-template-rows: 20vh 95vh 10vh;
        grid-template-areas: 'head'
                         'main'
                         'foot';
        gap: 5px;
        color: white;
        text-align: center;
    }
}